@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Background Effects */
.glow-background {
  background-color: hsla(0, 0%, 0%, 0);
  background-image: radial-gradient(
      at 29% 43%,
      hsla(190, 70%, 90%, 0.08) 0px,
      transparent 50%
    ),
    radial-gradient(at 53% 28%, hsla(190, 90%, 90%, 0.18) 0px, transparent 50%),
    radial-gradient(at 47% 71%, hsla(190, 70%, 90%, 0.13) 0px, transparent 40%),
    radial-gradient(at 3% 95%, hsla(190, 0%, 10%, 0.2) 0px, transparent 50%),
    radial-gradient(at 3% 3%, hsla(140, 80%, 10%, 0.2) 0px, transparent 50%),
    radial-gradient(at 90% 5%, hsla(200, 80%, 5%, 0.2) 0px, transparent 50%),
    radial-gradient(at 90% 80%, hsla(230, 80%, 10%, 0.2) 0px, transparent 50%);
}
